# Default owner for everything
*               @xudipta

# All topic content
/topics/        @xudipta

# CI, templates, ownership
/.github/       @xudipta

# Repo docs
README.md       @xudipta
CONTRIBUTING.md @xudipta
